.headercolor{
    background-color: #ffdbd6;
}


nav {
     background-color: #333;
     color: #fff;
     padding: 10px;
     background-color: #fcdbd5;
 }

 /* Estilo para el aside en el lado izquierdo */
 aside {
     width: 20%;
     background-color: #f0f0f0;
     padding: 10px;
     height: 500px;
 }

 /* Estilo para el contenido principal */
 main {
    display: flex;
    flex-direction: column;
     width: 100%;
     padding: 10px;
     height: 70vh;
     background-color: rgb(154, 255, 255);
 }

 /* Estilo para el footer */
 /* footer {
     clear: both;
     background-color: #333;
     color: #fff;
     padding: 10px;
     text-align: center;
 } */