{% extends 'registration/base_generic.html'%}

{% block contenido %}

{% if mensaje %}
    <script>
        Swal.fire({
            position: 'top-end',
            icon: 'error',
            title: '{{mensaje}}',
            showConfirmButton: false,
            timer: 1800
            })
    </script>
{% endif %} 
        

{% load static %}
<div class="row d-flex justify-content-center">
    <div class="col-md-5">
        <form method="POST" action="{% url 'resetLink' %}">
            {% csrf_token %}
            <div class="form-floating"  id="reset-form-content" {% if sent %}style="display: none;"{% endif %} >
                <input type="email" id="email" name="email" class="form-control" placeholder="Correo Electronico" required>
                <label for="email" class="form-label">Correo electrónico:</label>
            </div>
            <div class="text-md-center mt-3">
                <button type="submit" class="btn btn-success mt-3">Solicitar Restablecimiento</button>
            </div>
        </form>
    </div>
</div>

{% if error_message %}
    <script>
        swal("Error", "{{ error_message }}", "error");
    </script>
{% endif %}
<img src="{% static 'img/logo.png'%}" alt="logoA">
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}