{% load static %}
<div class="container-fluid mb-2">
     <div class="row bg-dark d-flex justify-content-center rounded-bottom">
          <div class="col-6 align-item-center">
               <img src="{% static 'images/image.png' %}" alt="logo" width="100" class="p-2">
          </div>
          <div class="col-6">
               <div>
                    <h1 class="display-4 font-weight-bold text-light pt-2 " id="titulo">
                         Adrile Boutique
                    </h1>
               </div>
               <div>
                    <p class="text-white">
                         Moda femenina y accesorios
                    </p>
               </div>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
               <h1 class="display-4 font-weight-bold text-light d-flex justify-content-center align-items-center">
                    <i class="fas fa-shoe-prints"></i>
               </h1>
          </div>
     </div>

</div>