{% load static %}
<nav class="navbar navbar-expand-lg bg-body-tertiary rounded">
     <div class="container-fluid">
          <a class="navbar-brand" href="#">
               <img src="{% static 'images/logo.png' %}" alt="" width="150">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
               data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
               aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

               <form class="d-flex w-100" role="search">
                    <div class="input-icono w-75">
                         <input class="" type="search" placeholder="Search" aria-label="Search" id="">
                    </div>
               </form>

               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                         <a class="nav-link active" aria-current="page" href="#">
                              Productos
                         </a>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Categoría
                         </a>
                         <ul class="dropdown-menu" id="listaCategorias">
                              <!-- contenido categorias -->
                         </ul>
                    </li>
                    <li class="nav-item dropdown">
                         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                              aria-expanded="false">
                              Hola, Inicia sesión
                         </a>
                         <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="/inicio/">Iniciar sesión</a></li>
                              <li><a class="dropdown-item" href="#">Registrarse</a></li>
                              <li><a class="dropdown-item" href="#">Ver perfil</a></li>
                         </ul>
                    </li>
               </ul>


               <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                         <button type="button" class="btn btn-primary position-relative" data-bs-toggle="offcanvas"
                              data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
                              <i class="fa-solid fa-cart-shopping"></i>
                              <span
                                   class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                   99+
                                   <span class="visually-hidden">unread messages</span>
                              </span>
                         </button>
                    </li>
               </ul>
          </div>
     </div>
</nav>

<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop"
     aria-labelledby="staticBackdropLabel">
     <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Carito</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
     </div>
     <div class="offcanvas-body">
          <p>Carrito Vacio.</p>
     </div>
</div>

<script>
     async function get_categories() {
          let data = '';
          try {
               const response = await axios.get('/api/v1.0/categorias2');
               console.log(response.data);
               response.data.forEach((category, index) => {
                    data += `
                    <li><a class="dropdown-item" href="#">${category.nombre}</a></li>
                    `
               })
               listaCategorias.innerHTML = data;
          } catch (error) {
               console.error(error);
          }
     }
     get_categories()
</script>