{% load static%}
<script src="{% static 'js/carousel.js' %}"></script>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-inner">
       <div class="carousel-item active">
          <div class="d-flex w-100 justify-content-center bg-light">
               {% if %}
               <img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" class="rounded img-fluid " alt="...">
          </div>
       </div>
       <div class="carousel-item">
          <div class="d-flex w-100 justify-content-center">
               <img src="https://cdn.vuetifyjs.com/images/cards/hotel.jpg" class="rounded img-fluid" alt="...">
          </div>
       </div>
       <div class="carousel-item">
          <div class="d-flex w-100 justify-content-center">
               <img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" class="rounded  img-fluid" alt="...">
          </div>
       </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
   </div>