<div id="carouselExample" class="carousel slide">
     <div class="carousel-inner">
          <div class="carousel-item active">
               <div class="d-flex w-100">
                    <img src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" class="rounded p-5 m-5" alt="..."
                    style="height: 500px;">
                    <div class="p-5 m-5 d-flex justify-content-center align-content-center">
                         texto de 
                    </div>
               </div>
          </div>
          <div class="carousel-item">
               <img src="https://cdn.vuetifyjs.com/images/cards/hotel.jpg" class="rounded p-5 m-5" alt="..."
                    style="height: 500px;">
          </div>
          <div class="carousel-item">
               <img src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg" class="rounded p-5 m-5" alt="..."
                    style="height: 500px;">
          </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
     </button>
</div>

<style scoped>

</style>