{% load static %}
<script src="{% static 'js/carousel.js' %}"></script>

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
     <div class="carousel-inner">
       <div class="carousel-item active">
          <div class="d-flex w-100 justify-content-center bg-light">
               <img src="{% static 'images/5092428.jpg' %}" class="rounded img-fluid " alt="..."> 
          </div>
       </div>
       <div class="carousel-item">
          <div class="d-flex w-100 justify-content-center">
               <img src="{% static 'images/5594188.jpg' %}" class="rounded img-fluid" alt="...">
          </div>
       </div>
       <div class="carousel-item">
          <div class="d-flex w-100 justify-content-center">
               <img src="{% static 'images/4370863.jpg' %}" class="rounded  img-fluid" alt="...">
          </div>
       </div>
     </div>
     <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
     </button>
     <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
     </button>
     <div class="text-center">
       <span> 
        <small>
          Imagen de
          <a href="https://www.freepik.es/vector-gratis/plantilla-banner-venta-horizontal_13185405.htm#query=banner%20tienda%20ropa&position=4&from_view=keyword&track=ais">
            Freepik
          </a>
        </small> 
      </span>
     </div>
   </div>