{% extends 'error_page/base_page.html' %} {% block title %}
<title>Página no encontrada (404)</title>
{% endblock %} {% load static %} {% block contenido_error %}
<div class="container">
    <h1>Error 404</h1>
    <p>¡Ups! La página que estás buscando no se encuentra.</p>
    <a href="/">Volver a la página de inicio</a>
</div>
<p>
    <small>
        <a href="https://www.freepik.es/vector-gratis/error-404-senal-cono_38376561.htm#query=404&position=5&from_view=search&track=sph"> Imagen de gstudioimagen </a> en Freepik
    </small>
</p>
{% endblock%}
