<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
    Inciar Sesion Cliente:
    <br>
    <br>
    <div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" id="csrf_token">
            <input type="text" name="usuario" id="usuario" placeholder="Usuario">
            <br>
            <br>
            <input type="password" name="pass" id="pass" placeholder="Contraseña">
            <br>
            <br>
            <input type="button" value="Iniciar Sesion" onclick="inicioSesion()">
        </form>

    </div>
    <script>
        
        function inicioSesion() {
            axios.defaults.xsrfCookieName = 'csrftoken'; // Nombre de la cookie CSRF
            axios.defaults.xsrfHeaderName = 'X-CSRFToken'; // Nombre del encabezado CSRF
            axios.post('http://192.168.100.9:8000/inicioSesion/', {
                username: usuario.value,
                password: pass.value,
                csrfmiddlewaretoken: csrf_token.value
            })
            .then(function (response) {
                console.log(response.data.message);
                localStorage.setItem('token', response.data.token);
                window.location.href = "/registroCliente"; 
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    </script>
</body>

</html>