{% load static %}
<link rel="stylesheet" href="{% static 'css/frm.css' %}">
<div class="container-fluid mb-2 mt-2">
     <div class="row bg-dark d-flex justify-content-center rounded">
          <div class="col align-item-center">
               <!-- <img src="{% static 'images/image.png' %}" alt="logo" width="100" class="p-2"> -->
               <object data="{% static 'images/imageLogo.png' %}" width="180" class="m-1">
               </object>
          </div>
          <div class="col-9">
               <h1 class="display-4 font-weight-bold text-light pt-2 " id="titulo">
                    Gestión Inventario - Adrile Boutique
               </h1>
          </div>
          <div class="col d-flex justify-content-center align-items-center">
               <h1 class="display-4 font-weight-bold text-light d-flex justify-content-center align-items-center">
                    <i class="fas fa-shoe-prints"></i>
               </h1>
          </div>
     </div>

</div>