{% extends 'index.html'%}

{% block contenido %}
{% load static %}
<script src="{% static '../static/js/envios.js' %}"></script>
<div class="row">
  <div class="col d-flex align-items-center justify-content-center">
    <div class="row d-flex justify-content-center">
      <h3 class="text-center">Envíos</h3>
      <div class="col">
        <hr>
        <table class="table table-dark overflow-auto" id="tablaEnvio">
          <thead>
            <tr>
              <th>#</th>
              <th>ServicioEnvió</th>
              <th>DirecciónEnv</th>
              <th>FechaEnvió</th>
              <th>FechaEntrega</th>
              <th>Estado</th>
              <th>EstadoPago</th>
            </tr>
          </thead>
          <tbody id="table"></tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}