{% extends 'index.html'%}

{% block contenido %}
{% load static %}
<script src="{% static '../static/js/pedidos.js' %}"></script>
<div class="row" style="height: 10px;">
  <div class="col">
    <h1 class="text-center">Pedidos</h1>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col">
    <table class="table table-dark overflow-auto">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Categoria</th>
          <th>Foto</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody id="tablaPro"></tbody>
    </table>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Vista Previa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img alt="" id="vistaPreviaFoto" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}