{% extends 'index.html'%}

{% block contenido %}
{% load static %}
<script src="{% static '../static/js/app.js' %}"></script>
<div class="row">
  <h1 class="text-center"> Productos </h1>
</div>
<form>
<div class="row justify-content-center">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    {% csrf_token %}
    <div class="col-5 mb-3">
      <label for="txtNombre" class="form-label">Nombre del Producto:</label>
      <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre del Producto">
      <label for="txtDescripcion" class="form-label">Descripcion del Producto:</label>
      <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion" placeholder="Descripcion del Producto">
    </div>
    <div class="col-5 mb-3">
      <label for="txtPrecio" class="form-label">Precio del Producto:</label>
      <input type="number" class="form-control" id="txtPrecio" name="txtPrecio" placeholder="Precio del Producto">
      <label for="txtCantidad" class="form-label">Cantidad del Producto:</label>
      <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Cantidad al Stock">
    </div>
    <div class="col-6 mb-3">
      <label for="txtPrecio" class="form-label">Categoria del Producto:</label>
      <select name="cbCategoria" id=""></select>
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <button type="button" class="btn btn-primary mx-1" onclick="agregarRoles()">Agregar</button>
      <button type="button" class="btn btn-primary mx-1" onclick="modificarRoles()">Modificar</button>
      <button type="button" class="btn btn-primary mx-1" onclick="eliminarRoles()">Eliminar</button>
      <button type="reset" class="btn btn-primary mx-1" onclick="limpiar()">Limpiar</button>
    </div>
  </div>
</form>
<div class="row">
  <table class="table table-dark">
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Rol</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody id="tabla"></tbody>
  </table>
</div>

{% endblock %}