{% extends 'index.html'%}

{% block contenido %}
{% load static %}
<script src="{% static '../static/js/productos.js' %}"></script>
<div class="row">
  <h1 class="text-center"> Productos </h1>
</div>
<hr>
<form>
  {% csrf_token %}
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
  <div class="row justify-content-center">
    <div class="col-5 mb-3">
      <label for="txtNombre" class="form-label">Nombre del Producto:</label>
      <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre del Producto"
        required>
      <label for="txtDescripcion" class="form-label">Descripción del Producto:</label>
      <input type="text" class="form-control" id="txtDescripcion" name="txtDescripcion"
        placeholder="Descripcion del Producto" required>
    </div>
    <div class="col-5 mb-3">
      <label for="txtPrecio" class="form-label">Precio del Producto:</label>
      <input type="number" class="form-control" id="txtPrecio" name="txtPrecio" placeholder="Precio del Producto"
        required>
      <label for="txtCantidad" class="form-label">Cantidad del Producto:</label>
      <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Cantidad al Stock"
        required>
    </div>
    <div class="col-6 mb-3">
      <label for="cbCategoria" class="form-label">Categoría del Producto:</label>
      <select name="cbCategoria" id="cbCategoria" class="form-select" required>

      </select>
      <label for="fileFoto" class="form-label">Cargar Foto:</label>
      <input type="file" name="fileFoto" id="fileFoto" class="form-control" onchange="mostrarVistaPrevia()" accept="image/*" required>
    </div>
    <div class="form-group row">
      <div class="mb-3 col-lg-12">
        <div class="text-center">

          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            <i class="fa-solid fa-image"></i> Vista Previa Imagen
          </button>

        </div>
      </div>
    </div>
    <div class="mb-3 d-flex justify-content-center">
      <button type="button" class="btn btn-primary mx-1" onclick="agregarPro()"><i class="fa-solid fa-plus"></i>
        Agregar</button>
      <button type="submit" class="btn btn-primary mx-1" onclick="modificarPro()"><i class="fa-solid fa-pen-to-square"></i> 
        Modificar</button>
      <button type="button" class="btn btn-primary mx-1" onclick="eliminarPro()"><i class="fa-solid fa-trash"></i>
        Eliminar</button>
      <button type="reset" class="btn btn-primary mx-1" onclick="limpiar()"><i class="fa-solid fa-broom"></i></i>
        Limpiar</button>
    </div>
  </div>
</form>
<hr class="shadow bg-white">
<div class="row d-flex justify-content-center">
  <div class="col contenedor">
    <table class="table table-dark nowrap display" id="tables">
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Categoría</th>
          <th>Foto</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody id="tablaPro"></tbody>
    </table>
  </div>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Vista Previa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img alt="" id="vistaPreviaFoto" width="100%">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}