{% extends 'index.html' %} {% block contenido %} {% load static %}
<script src="{% static '../static/js/productos.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/frm.css' %}" />
<div class="row">
    <h1 class="text-center">Productos</h1>
</div>
<hr />
<form>
    {% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
    <div class="row justify-content-evenly">
        <div class="col-5 mb-3">
            <div class="form-floating pb-2">
                <input type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre" required />
                <label for="txtNombre" class="form-label">Nombre:</label>
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="txtDescripcion" name="txtDescripcion" required></textarea>
                <label for="txtDescripcion" class="form-label">Descripción:</label>
            </div>
        </div>

        <div class="col-5 mb-3">
            <div class="form-floating pb-2">
                <input type="number" class="form-control" id="txtPrecio" name="txtPrecio" placeholder="Precio" required />
                <label for="txtPrecio" class="form-label">Precio:</label>
            </div>
            <div class="form-floating pb-2">
                <select name="cbCategoria" id="cbCategoria" class="form-select" required>
                    <!-- aqui van las categorias -->
                </select>
                <label for="cbCategoria" class="form-label">Categoría:</label>
            </div>
        </div>

        <div class="col-5 mb-3">
            <div class="form-floating">
                <input type="file" class="form-control" name="fileFoto" id="fileFoto" accept="image/*" onchange="mostrar()" required />
                <label for="fileFoto" class="form-label">Cargar Imagen:</label>
            </div>
        </div>

        <div class="col-5 mb-3 d-grid align-content-center">
            <div class="form-floating">
                <div class="d-flex align-items-center justify-content-center">
                    <a href="/frmTallas" class="btn btn-secondary">Agregar Tallas</a>
                </div>
            </div>
        </div>

        <div class="col-7 mb-3 text-center">
            <div class="d-flex justify-content-center">
                <img id="vistaPrevia" alt="Imagen cargada" width="100" height="100" style="display: none" onclick="vistaImagenFrm()" />
            </div>
        </div>
    </div>
    <div class="mb-3 d-flex justify-content-center">
        <button type="button" class="btn btn-primary mx-1" onclick="agregarPro()"><i class="fa-solid fa-plus"></i> Agregar</button>
        <button type="submit" class="btn btn-primary mx-1" onclick="modificarPro()"><i class="fa-solid fa-pen-to-square"></i> Modificar</button>
        <button type="button" class="btn btn-primary mx-1" onclick="eliminarPro()"><i class="fa-solid fa-trash"></i> Eliminar</button>
        <button type="reset" class="btn btn-primary mx-1" onclick="limpiar()"><i class="fa-solid fa-broom"></i> Limpiar</button>
    </div>
</form>
<hr class="shadow bg-white" />

<div class="row d-flex justify-content-center">
    <div class="col">
        <table class="table table-dark nowrap display" id="tables">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tablaPro"></tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Producto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="contenidoModal">
                <div class="card mb-3" style="max-width: 540px">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="" id="imgProducto" class="img-fluid rounded-start" alt="..." />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Nombre: <span id="nombreProducto"></span></h5>
                                <p>
                                    Descipción:
                                    <span id="decripProducto"></span>
                                </p>
                                <p>Precio: <span id="precioProducto"></span></p>
                                <ul class="list-group" id="tallasProducto"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
