{% load static %}

<script src="{% static 'js/tienda.js' %}"></script>
<div class="container">
  <div class="row contenido">
    <div class="col">

      <div id="app" class="d-flex justify-content-center">

        <div class="card shadow cardLogin">

          <div class="card-header bg-dark text-white">
            <h4 class="text-center mt-2 canter"><i class="fa fa-solid fa-user fa-2xl"></i></h4>
          </div>

          <div class="card-body">
            <form>

              <div class="form-floating">
                <input type="text" class="form-control" id="id_username" name="username" maxlength="150"
                  placeholder="Usuario" required />
                <label for="id_username"><i class="fa-solid fa-user fa-beat-fade"></i> Usuario</label>
              </div>

              <div class="form-floating mt-3">
                <input type="password" class="form-control" id="id_password" name="password" placeholder="contraseña"
                  required />
                </i><label for="id_password"><i class="fa-solid fa-key fa-beat-fade"></i> Contraseña</label>
              </div>
              <div class="form-check mt-3">
                <input class="form-check-input" type="checkbox" id="remember_me" name="remember_me">
                <label class="form-check-label" for="remember_me">Recuérdame</label>
              </div>
              <div class="form-floating col mt-3 text-center">
                </body> <button type="button" class="btn btn-dark btn-block canter2" onclick="login()">
                  <i class="fa fa-sign-in"></i>
                  &nbsp; Iniciar Sesión</button>
                <button type="submit" class="btn btn-dark btn-block canter2" data-bs-dismiss="modal" aria-label="Close">
                  <i class="fa-solid fa-ban"></i>
                  &nbsp; Cancelar </button>
              </div>
            </form>
            <div class="row">
              <div class="col mt-3 text-center">
                <a href="{% url 'validarCorreo' %}" class="link-secondary"> Olvido su contraseña ? </a>
              </div>
            </div>
          </div>
        </div>


      </div>

      <div class="row footer">
        <div class="col">
          <small><a
              href="https://www.freepik.es/vector-gratis/fondo-monocromatico-blanco-estilo-papel_15518074.htm#query=fondo&position=1&from_view=keyword&track=sph"
              class="link-dark">Imagen
              de pikisuperstar</a><span class="text-black"> en Freepik </span>
          </small>
        </div>
      </div>
    </div>
  </div>

</div>