<!DOCTYPE html>
<html lang="es">

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-fixed-top navbar-brand" href="/inicio"><i class="fa-solid fa-house fa-2x"></i> Panel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-duotone fa-boxes-packing fa-2x"></i> Productos
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/frmCategorias">Categorías &nbsp &nbsp &nbsp<i
                    class="fa-sharp fa-solid fa-bars fa-2x"></i></a>
              </li>
              <li>
                <a class="dropdown-item" href="/frmProductos">Productos &nbsp &nbsp &nbsp<i
                    class="fa-sharp fa-solid fa-shirt fa-2x"></i></a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/frmPedidos"><i class="fa-sharp fa-solid fa-bag-shopping fa-2x"></i> Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/frmPagos"><i class="fa-solid fa-wallet fa-2x"></i> Pagos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/frmEnvios"><i class="fa-sharp fa-solid fa-truck-fast fa-2x"></i> Envíos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/frmDevoluciones"><i class="fa-solid fa-box fa-2x"></i> Devoluciones</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-lg-0 mx-2">
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="btn btn-primary"><i class="fa-solid fa-right-from-bracket"></i>&nbsp;Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</body>

</html>