{% extends 'index.html '%}
{% block content_main%}
<div class="container mt-4 mb-3">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Registro</h5>
            <form action="" id="registroForm" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" name="username" id="username">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="first_name" id="first_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" name="last_name" id="last_name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="tel" class="form-control" name="telefono" id="telefono">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección:</label>
                            <input type="text" class="form-control" name="direccion" id="direccion">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="fotoPerfil" class="form-label">Foto de Perfil:</label>
                    <div class="input-group">
                        <input type="file" class="form-control" name="fotoPerfil" id="fotoPerfil">
                        <label class="input-group-text" for="btnCargarFoto" style="background-color: #f8f9fa;">
                            <i class="bi bi-upload"></i> Cargar
                        </label>
                        <input type="file" class="form-control d-none" id="btnCargarFoto">
                    </div>
                    <small class="form-text text-muted">Selecciona una imagen para tu foto de perfil.</small>
                </div>
                
                <input type="button" onclick="registro()" class="btn btn-outline-primary" value="registrar">
            </form>
        </div>
    </div>
</div>
<div style="display: none;">
    <div class="mt-2" id="contenedorCategorias">
        <!-- contenido categorias -->
    </div>
</div>

<script>
    function registro() {
        const fotoPerfilInput = document.getElementById('fotoPerfil');
        if (!fotoPerfilInput || !fotoPerfilInput.files[0]) {
            // Mostrar un mensaje de error si no se selecciona un archivo
            Swal.fire({
                title: 'Error',
                text: 'Selecciona una foto de perfil antes de continuar.',
                icon: 'error',
            });
            return; // Salir de la función si no hay archivo seleccionado
        }
    
        const fotoPerfil = fotoPerfilInput.files[0];
        const formData = new FormData();
        formData.append('username', username.value);
        formData.append('password', password.value);
        formData.append('first_name', first_name.value);
        formData.append('last_name', last_name.value);
        formData.append('email', email.value);
        formData.append('telefono', telefono.value);
        formData.append('fechaNacimiento', fechaNacimiento.value);
        formData.append('direccion', direccion.value);
        formData.append('fotoPerfil', fotoPerfil, fotoPerfil.name);
    
        axios.defaults.xsrfCookieName = 'csrftoken'; // Nombre de la cookie CSRF
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'; // Nombre del encabezado CSRF
        axios.post('/api/v1.0/registro_cliente/', formData, {
            headers: {
                'Content-Type': 'multipart/form-data', // Asegurarse de establecer el tipo de contenido adecuado
            },
        })
        .then(res => {
            // Convertir la respuesta a un objeto JavaScript
            const responseData = res.data;
        
            // Crear un mensaje de éxito
            const successMessage = 'La operación se realizó con éxito.';
        
            // Mostrar un mensaje de éxito con SweetAlert
            Swal.fire({
                title: 'Éxito',
                text: successMessage,
                icon: 'success',
            }).then(() => {
                window.location.href = "/inicio_tienda/";
            });
        })
        .catch(err => {
            // Crear un mensaje de error personalizado
            let errorMessage = 'Detalles:';
        
            // Verificar si hay datos en la respuesta de error
            if (err.response && err.response.data) {
                const errorData = err.response.data;
        
                // Recorrer las propiedades del objeto de error y agregar los mensajes de error
                for (const key in errorData) {
                    if (errorData.hasOwnProperty(key)) {
                        const errorMessages = errorData[key];
                        errorMessage += `\n${key}: ${errorMessages.join(', ')}`;
                    }
                }
            } else {
                errorMessage = 'No se pudo realizar la operación debido a un error desconocido.';
            }
        
            // Mostrar un mensaje de error con SweetAlert
            Swal.fire({
                title: 'Error',
                text: errorMessage,
                icon: 'error',
            });
        });
        
        
        
    }
    
</script>

{% endblock %}