{% extends 'index.html '%}
{% load static %}
{% block content_main%}
<script src="{% static 'js/registroCliente.js' %}"></script>
<div class="container mt-4 mb-3">
    <div class="card shadow">
        <div class="card-body">
            <h5 class="card-title">Registro</h5>
            <form action="" id="registroForm" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="username" class="form-label">Username:</label>
                            <input type="text" class="form-control" name="username" id="username">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="password" class="form-label">Password:</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="first_name" class="form-label">Nombre:</label>
                            <input type="text" class="form-control" name="first_name" id="first_name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Apellido:</label>
                            <input type="text" class="form-control" name="last_name" id="last_name">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo:</label>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="tel" class="form-control" name="telefono" id="telefono">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento:</label>
                            <input type="date" class="form-control" name="fechaNacimiento" id="fechaNacimiento">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección:</label>
                            <input type="text" class="form-control" name="direccion" id="direccion">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="fotoPerfil" class="form-label">Foto de Perfil:</label>
                    <div class="input-group">
                        <input type="file" class="form-control" name="fotoPerfil" id="fotoPerfil">
                        <label class="input-group-text" for="btnCargarFoto" style="background-color: #f8f9fa;">
                            <i class="bi bi-upload"></i> Cargar
                        </label>
                        <input type="file" class="form-control d-none" id="btnCargarFoto">
                    </div>
                    <small class="form-text text-muted">Selecciona una imagen para tu foto de perfil.</small>
                </div>
                
                <input type="button" onclick="registro()" class="btn btn-outline-primary" value="registrar">
            </form>
        </div>
    </div>
</div>


<div class="mt-2" id="contenedorCategorias" style="display: none;">
    <!-- contenido categorias -->
</div>

{% endblock %}