{% extends 'administrador/index.html' %} {% block contenido %} {% load static %}
<script src="{% static '../static/js/tallas.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/frm.css' %}" />
<div class="row">
    <h1 class="text-center mt-2">Tallas</h1>
</div>
<hr>
<div class="row d-grid justify-content-center">
    <form>
        <div class="row">

            <div class="col mb-3">
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="txtTalla" name="txtTalla" placeholder="Talla"
                        required />
                    <label for="txtTalla" class="form-label">Talla:</label>
                </div>
                <div class="form-floating">

                </div>
            </div>

            <div class="col mb-3">
                <div class="form-floating pb-2">
                    <input type="number" class="form-control" id="txtCantidad" name="txtCantidad" placeholder="Cantidad"
                        required />
                    <label for="txtCantidad" class="form-label">Cantidad:</label>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="form-floating mb-3">
                    <select name="cbProducto" id="cbProducto" class="form-select" required>
                        <!-- aqui van las categorias -->
                    </select>
                    <label for="cbProducto" class="form-label">Producto:</label>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col mb-3 d-flex justify-content-center contenedor-buttons">
                <button type="button" class="btn buttons mx-1" onclick="addSizes()"><i class="fa-solid fa-plus"></i>
                    Agregar</button>
                <button type="button" class="btn buttons mx-1" onclick="editSizes()"><i
                        class="fa-solid fa-pen-to-square"></i>
                    Modificar</button>
                <button type="button" class="btn buttons mx-1" onclick="deleteSizes()"><i class="fa-solid fa-trash"></i>
                    Eliminar</button>
                <button type="reset" class="btn buttons mx-1" onclick="clean()"><i class="fa-solid fa-broom"></i></i>
                    Limpiar</button>
            </div>
        </div>

    </form>
</div>
<hr class="shadow bg-white" />

<div class="row d-flex justify-content-center">
    <div class="col">
        <table class="table table-dark nowrap display" id="tableTalla">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Talla</th>
                    <th>Cantidad</th>
                    <th>Producto</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody id="tableContent"></tbody>
        </table>
    </div>
</div>
{% endblock %}