{% load static %}
<link rel="stylesheet" href="{% static 'css/frm.css' %}">
<div class="row">
    <div class="col">
        <nav class="navbar navbar-expand-lg bg-body-tertiary rounded mt-2">
            <div class="container-fluid">
                <a class="navbar-fixed-top mx-3 nav-link uwu" href="/dashboard">
                    <i class="fa-solid fa-house "></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle linxD" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false" id="link">
                                Productos
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/frmCategorias">
                                        Categorías &nbsp;

                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/frmProductos">
                                        Productos &nbsp;
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/frmTallas">
                                        Tallas producto &nbsp;
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <div class="">
                                <a class="nav-link linxD" href="/frmPedidos">Pedidos</a>
                            </div>
                        </li>
                        <li class="nav-item linxD">
                            <a class="nav-link" href="/frmEnvios">
                                Envíos
                            </a>
                        </li>
                        <li class="nav-item linxD">
                            <a class="nav-link" href="/frmPagos">
                                Pagos
                            </a>
                        </li>
                        <li class="nav-item linxD">
                            <a class="nav-link" href="/frmDevoluciones">
                                Devoluciones
                            </a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mb-2 ">
                        <li class="nav-item">
                            <div class="dropdown-center">
                                <a class="nav-link dropdown-toggle linxD" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Mi cuenta
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li class="nav-item">
                                        <a class="dropdown-item" href="{% url 'perfil' %}">Ver Perfil &nbsp;
                                            <i class="fa-regular fa-user"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión &nbsp;
                                            <i class="fa-solid fa-arrow-right-from-bracket"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>